<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<title>EDAR 4.0</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-edar mb-4 shadow">
			<a class="navbar-brand d-flex align-items-center" href="/"><img id="logo" src="{{ url_for('static', filename='icon-192.png') }}", class="img-responsive logo mr-2", height="35px", alt="EDAR 4.0"><span>EDAR 4.0<b>CARTUJA</b></span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					{% if session['username'] == 'rapidminer' %}
					
					<li class="nav-item {% if active_page == 'perfil' %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('index') }}">Perfil</a>
					</li>
					<li class="nav-item {% if active_page == 'prediccion' %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('cartuja_prediction') }}">Predicción</a>
					</li>
					<form id='formQuery' class="form-inline" method="POST" action="{% if active_page == 'perfil' %}{{ url_for('perfil') }}{% elif active_page == 'prediccion' %}{{ url_for('cartuja_prediction') }}{% endif %}">
						<select class="form-control mr-2" id="periodo"
								name="periodo" data-toggle="tooltip"
								title={% if periodo=='2' %}"01/05/2018 - {{ current_date }}"{% else %}"01/01/2013 - 31/12/2014"{% endif %}>
								<option value="2" {% if periodo=='2' %}selected{% endif %} data-toggle="tooltip" title="01/05/2018 - {{ current_date }}">Periodo 2</option>
								<option value="1" {% if periodo=='1' %}selected{% endif %} data-toggle="tooltip" title="01/01/2013 - 31/12/2014">Periodo 1</option>
								<option value="3" {% if periodo=='3' %}selected{% endif %} data-toggle="tooltip" title="Personalizado">Personalizado</option>
						</select>
						<div id="reportrange" class="form-control mr-2 {% if periodo=='1' or periodo=='2' %}disabled-picker{% elif periodo=='3' %}calendar-picker{% endif %}">
							<i class="fa fa-calendar"></i>&nbsp;
							<span></span>
							<!-- <i class="fa fa-angle-down float-right" style="vertical-align:middle;"></i> -->
						</div>
						<input id="hiddenStartDate" name="hiddenStartDate" type="hidden" value="">
						<input id="hiddenEndDate" name="hiddenEndDate" type="hidden" value="">
						<select class="form-control mr-2" id="tipo_var" name="tipo_var">
								<option value="rend" {% if tipo_var=='rend' %}selected{% endif %}>Rendimientos</option>
								<option value="abs" {% if tipo_var=='abs' %}selected{% endif %}>Absolutas</option>
						</select>
						<button id="submitBtn" class="btn btn-md btn-outline-success mr-2" type="button">Actualizar</button>
					</form>
					{% endif %}
				</ul>
				<ul class="navbar-nav navbar-right">
					{% if session['username'] %}
					<div class="nav-link active" data-toggle="tooltip" title="Último dato registrado">
						<i class="fas fa-history"></i>
						<span>{{ current_date }}</span>
					</div>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<i class="fas fa-user"></i>
							<span>{{ session['username'] }}</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
							<a class="dropdown-item" href="{{ url_for('recreate_db') }}">Recrear DB</a>
							<a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item {% if active_page == 'login' %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
	<main role="main" class="container-fluid">
		{% block content %}{% endblock %}
	</main>
	<footer class="sticky-footer">
        <div class="container mt-3 mb-3">
          <div class="copyright text-center my-auto">
            <span>Powered by Vicomtech® 2020</span>
          </div>
        </div>
    </footer>
</body>

<script type="text/javascript">
	var start = moment('05/01/2018', 'DD-MM-YYYY')
	var end = moment('{{ current_date }}', 'DD-MM-YYYY');

	$(document).ready(function(){
		$('#periodo').change(function(){
			var selectedPeriod = $(this).children("option:selected").val();
			console.log('selectedPeriod:', selectedPeriod);
			if (selectedPeriod === '1' || selectedPeriod === '2') {
				$('#reportrange').removeClass('calendar-picker').addClass('disabled-picker');
			} else if (selectedPeriod === '3') {
				$('#reportrange').removeClass('disabled-picker').addClass('calendar-picker');
			}
		});

		$('#submitBtn').click(function(){
			$('#formQuery').submit()
		})
	});

	$(function() {
	
		function cb(start, end) {
			$('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
			console.log(start.format('DD/MM/YYYY HH:MM:ss') + ' to ' + end.format('DD/MM/YYYY HH:MM:ss'));
			$("#hiddenStartDate").val(start.format('DD/MM/YYYY'));
			$("#hiddenEndDate").val(end.format('DD/MM/YYYY'));
		}
	
		$('#reportrange').daterangepicker({
			"locale": {
				"format": "DD/MM/YYYY",
				"separator": " - ",
				"applyLabel": "Aplicar",
				"cancelLabel": "Cancelar",
				"fromLabel": "Desde",
				"toLabel": "Hasta",
				"customRangeLabel": "Personalizado",
				"weekLabel": "S",
				"daysOfWeek": [
					"Do",
					"Lu",
					"Ma",
					"Mi",
					"Ju",
					"Vi",
					"Sa"
				],
				"monthNames": [
					"Enero",
					"Febrero",
					"Marzo",
					"Abril",
					"Mayo",
					"Junio",
					"Julio",
					"Agosto",
					"Septiembre",
					"Octubre",
					"Noviembre",
					"Deciembre"
				],
				"firstDay": 1
			},
			startDate: start,
			endDate: end,
			minDate: "05/01/2018",
			maxDate: '{{ current_date }}',
			ranges: {
			   'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			   'Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
			   'Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
			   'Este Mes': [moment().startOf('month'), moment().endOf('month')],
			   'Último Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			}
		}, cb);
	
		cb(start, end);
	
	});
</script>

</html>