<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <title>Optimizacion</title>
</head>

<body>
    <main role="main">
        <div class="container-fluid container-optim">
            <form class="form" method="POST" action="{{ url_for('optimizacion') }}">
                <div class="form-row justify-content-start">
                    <div class="col-4">
                        <h5 class="bk-title"><b>Optimización - {{ target }}</b></h5>
                    </div>
                </div>
                <div class="form-row justify-content-start mb-2">
                    <div class="col-sm-1">
                        <span class="var-names">Objetivo</span>
                        <div class="form-row">
                            <div class="col-8 col-sm-6">
                                <b class="var-names">Maximizar</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <span class="var-names">Target</span>
                        <div class="form-row">
                            <div class="col-8 col-sm-6">
                                <select class="form-control form-control-sm select-bk" id="target" name="target">
                                    {% for valor in valores %}
                                    <option value="{{ valor }}" {% if valor == arg_target %}selected{% endif %}>{{ valor }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-start mb-2">
                    <div class="col-4">
                        <b class="var-names">Restricciones</b>
                    </div>
                </div>
                {% for var in var_influyentes %}
                <div class="form-row justify-content-start mb-2">
                    <div class="col-sm-3">
                        <span class="var-names">{{ var }}:</span>
                        <div class="form-row">
                            <div class="col-3 col-sm">
                                <b class="var-names">{{ var_influyentes[var]['result'] }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 mr-2">
                        <span class="var-names">Condición 1</span>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm select-bk-2" id="Condicion1_{{ var }}"
                                    name="Condicion1_{{ var }}">
                                    <option value='-'>-</option>
                                    <option value='='{% for sel_var in restricciones %}{% if sel_var == var %}selected{% endif %}{% endfor %}>=</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <span class="var-names">Valor 1</span>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm select-bk-2" id="Valor1_{{ var }}"
                                    name="Valor1_{{ var }}">
                                    {% for range in var_influyentes[var]['pos_ranges'] %}
                                    <option value="{{ range }}" {% for sel_var in restricciones %}
                                        {% if restricciones[var] == range %}
                                        selected
                                        {% endif %}
                                    {% endfor %}>{{ range }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="form-row">
                    <div class="col-4">
                        <span class="var-names">Predicción: <b>{{ pred }}</b>, Confiabilidad: <b>{{ conf }} %</b></span>
                    </div>
                </div>
                <button class="btn btn-md btn-bk" type="submit">Optimizar</button>
            </form>
        </div>
    </main>
</body>

</html>